* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#canvas1 {
  background: url("assets/background.png");
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#obstacles {
  display: none;
}